@charset "utf-8";

.main {
    max-width: 960px;
    background-color: #eeeeee;

}

.title{
   display: flex;
   justify-content: center;
   padding: 80px 10px 80px 10px;
   color:seagreen
}

.text {
    display: flex;
    justify-content: center;

}

.text01 {
    background-color: white;
    background-position: center;
}

.primary {
    padding: 10px 0 10px 5px;
}

.secondary {
    padding: 0 0 10px 5px;
}