@charset "ute-8";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e8d9bf;
}

header {
    position: relative;
}

.header_pc {
    display: block;
}

.header_sp {
    display: none;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;

}

.pc_nav ul li {
    width: 106px;
    text-align: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", 
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; 
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

a:hover {
    opacity: 0.5;
}

a {
    transition: 0.3s;
}




.main {
    max-width: 1000px;
    margin: 0 auto;
}

.copy {
    text-align: center;
}

.copy_1 {
    font-size: 30px;
    line-height: 3.8;
    padding: 104px 0 0 0;
}

.copy_2 {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;

}

.copy_3 {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    padding: 20px 0 92px 0;
}

.sp_br {
    display: none;
}




.about {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 10px;
}

.about_text {
    width: 41%;
}

.coffee_pc {
    width: 50%;
    border-bottom-right-radius: 82px;
    display: block;
}

.coffee_sp {
    display: none;
}

.about_pc {
    width: 272px;
}

.about_sp {
    display: none;
}

.title_1 {
    line-height: 1.3;
    font-size: 44px;
    padding: 48px 0 23px 0;
}

.text_1 {
    line-height: 1.6;
    font-size: 16px;
}



.menu_title {
    margin: 0 auto;
    width: 151px;
    padding: 96px 0 40px 0;
}

.menu_main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.menu_box {
    width: 30%;
}

.menu_img {
    border-top-right-radius: 41px;  
    display: block;
}

.menu_sp {
    display: none;

}

.title_2 {
    color: #d30202;
    font-size: 38px;
    line-height: 0.4;
    padding: 0 0 0 12px;
}

.text_2 {
    font-size: 17px;
    line-height: 1.47;
    padding: 23px 0 0 0 ;
}




.gallery_title {
    margin: 0 auto;
    width: 245px;
    padding: 88px 0 15px 0;
}

.gallery_img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery_img img {
    width: 20%;
}



.event {
    padding: 0 10px 0 10px;
}

.event_title {
    margin: 0 auto;
    width: 173px;
    padding: 61px 0 30px 0;
}

.box {
    border: solid 3px #4f260b;
    background-color: #ffffff;
    padding: 35px 0 36px 0;
    display: flex;
    justify-content: center;

    
}

.box > div {
    display: inline-block;

}

.text_content {
    display: flex;
    gap: 55px;
}

.text_3 {
    font-size: 23px;
    display: flex;
    justify-content: right;
    line-height: 1.95;
}

.event_lead {
    text-decoration: underline;
}

.access_title {
    margin: 0 auto;
    width: 213px;
    padding: 70px 0 39px 0;
}

iframe {
    display: block;
    width: 100%;
    height: 471px;
}



footer {
    background-color: #ffffff;
    width: 100%;
}


.footer_logo {
    width: 226px;
    height: 50px;
    padding-top: 83px;
}

footer > div {
    display: flex;
}

.text_4 {
    font-size: 20px;
    line-height: 1.95;
    padding: 83px 0 0 64px;
}

.text_5 {
    font-size: 16px;
    line-height: 2.18;
    display: flex;
    justify-content: center;
    padding: 74px;
}

.pagetop_btn {
    width: 125px;
    height: 125px;
    position: fixed;
    right: 60px;
    bottom: 60px;
}



@media screen and (max-width: 767px) {
    .main {
        margin: 0 auto;
    }

    .header_pc {
        display: none;
    }

    .header_sp {
        display: block;
    }


    

    .copy_1 {
        font-size: 21px;
        padding-top: 40px;
    }

    .copy_2 {
        font-size: 40px;

    }

    .copy_3 {
        font-size: 18px;
        padding-bottom: 50px;
    }

    .sp_br {
        display: block;
    }

    br {
        display: none;
    }




    .about {
        width: 100%;
        flex-direction: column;
    }   

    .coffee_sp {
        width: 100%;
        display: block;
    }

    .coffee_pc {
        display: none;
    }

    .about_pc {
        display: none;
    }

    .about_sp {
        display: block;
        width: 200px;
        padding-bottom: 15px;
    }

    .about_text {
        width: 90%;
        padding: 0 30px 30px 30px;
    }







    .menu_main {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .menu_title {
        width: 100px;
        padding: 20px;
    }

    .menu_box {
        width: 100%;
        padding: 0 0 50px 60px;
    }
    
    .menu_img {
        display: none;
    }

    .menu_sp {
        display: block;
        width: 75%;
        border-top-right-radius: 41px; 
    }

    .text_2 {
        width: 75%;
        padding-top: 35px;
    }



    .gallery_title {
        width: 150px;
        padding: 20px;
    }



    .event_title {
        width: 110px;
    }

    .text_content {
        display: block;
    }

    .text_3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 400px;
        display: block;
    }



    .access_title {
        width: 110px;
    }

    iframe {
        height: 270px;
    }




    .footer_logo {
        width: 280px;
        padding: 50px 0 0 30px;
    }

    footer > div {
        display: block;
    }

    .text_4 {
        padding: 50px 10px 30px 30px;
    }

    .text_5 {
        padding: 35px;
    }


}